* {box-sizing:border-box}
body {
    background: linear-gradient(#ffffff, #bcbcbc);
    background-attachment: fixed;
    text-align: center;
    font-family:'Didact Gothic';
    }
#pic img{
  
  width: 800px;
  height: 500px;
}
.center-div {
    width: 600px;
    height: auto;
    background-color: white;
    margin: auto;
    text-align: center;
  }
  .center-div b{
    font-size: xx-large;
  }
@media only screen and (max-width: 768px) {
  #pic img{
    width: 450px;
    height: 300px;
  }
  .center-div{
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  #pic img{
    width: 300px;
    height: 185px;
  }
}
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
  color: #bcbcbc;
}
li {
  float: left;
}

li a {
  display: block;
  color: #bcbcbc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #bcbcbc;
  color:  #111;
 
}
.message-box {
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    padding: 10px;
  }


 

  .message {
    text-align: left;
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
  }
 
  
  .star {
    cursor: pointer;
    display: inline-block;
    color: #f2b01e;
    transition: all 0.3s ease;
    width: 40px;
    font-size: xx-large;
    
  }
  
  .star:hover ~ .star {
    color: #bbb;
  }
  .review-box {
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
  }
  
  textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    resize: none;
  }
  #btn1 {
    background-color: #f2b01e;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #btn:hover {
    background-color: #e29913;
  }
  