nav{
   box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background:  #2b2e2e;
}
#book{
   text-align: right;
    display: flex;
    float: right;
    align-items: flex-end;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2b2e2e;
  color: #bcbcbc;
  
  
}
#book a {
   flex: 1;
    display: flex;
    float: right;
    align-items: flex-end;
    
    color: #bcbcbc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
 select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #2b2e2e;;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#bcbcbc;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
 }
 select::-ms-expand {
    display: none;
 }
 .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25em;
 }
 .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    color: white;
    background: #2b2e2e;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
 }
 .select:hover::after {
    color: #5c6664;
 }
 #book:hover{
   background-color: #5c6664;
   color: white;
 }
 @media only screen and (max-width: 768px) {
   .select{
      width: 12em;
   }
 }
